<header>
    <nav class="navbar">
        <div class="nav-container w-100 d-flex flex-column flex-md-row justify-content-between align-items-center">

            <!-- LOGO -->
            <a href="/" class="nav-logo">
                <span class="poppins-extrabold logo-text">mario</span><span
                    class="poppins-extrabold logo-dot">.</span><span class="poppins-extrabold logo-text">zaccardi</span>
            </a>

            <ul class="nav-menu d-flex flex-row align-items-center mt-3 mt-md-0">
                <li><a class="nav-item poppins-extrabold" href="#about-me">chi sono</a></li>
                <li><a class="nav-item poppins-extrabold" href="#progetti">progetti</a></li>
                <li><a class="nav-item poppins-extrabold" href="#chi-sono">contatti</a></li>
            </ul>

        </div>
    </nav>
</header>