.navbar {
    position: sticky;
    margin-top: 4rem;
}

.nav-menu {
    gap: 2rem;

    .nav-item {
        text-decoration: none;
        color: var(--color-white);
        transition: all 0.1s ease-in;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
            color: var(--color-red);
        }
    }
}