:root {
    --color-white: #DAD7CD;
    --color-red: #D23232;
    --color-red-dark: #af2e2b;
    --color-green-light: #A3B18A;
    --color-green-normal: #588157;
    --color-green-medium: #3A5A40;
    --color-green-dark: #344E41;
    --color-green-darker: #253B2F;
    --color-green-black: #18211D;
}

html,
body {
    background: var(--color-green-black);
    max-height: 100vh;
}

.main-container,
#footer {
    width: 100%;
    max-width: clamp(320px, 90vw, 1200px);
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 24px;

    .logo-text {
        color: var(--color-white);
    }

    .logo-dot {
        color: var(--color-red);
    }
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-contacts {
    background: var(--color-red);
    border: none;
    border-radius: 20rem;
    padding: 1.6rem 2.4rem;
    min-width: 16rem;
    transition: all 0.2s ease;

    .btn-text {
        font-size: 18px;
        color: white;
    }

    &:hover {
        transform: scale(1.04);
        background: var(--color-red-dark);
    }
}

.container-name {
    font-size: 64px;
    color: var(--color-green-light);

    @media(max-width: 991px) {
        font-size: 48px;
    }
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-green-light);
    margin: 6rem 0;
}

#about-me,
#contacts {
    margin: 6rem 0 0 0;
}

#contacts-footer {
    background: var(--color-green-darker);
    padding-bottom: 4rem;
}

.credits {
    background-color: var(--color-red);
    color: white;
}

/* LOADER FULLSCREEN */
#loader {
    position: fixed;
    inset: 0;
    background: var(--color-green-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

/* LOGO */
.loader-logo {
    font-size: 42px;
    opacity: 100%;
    animation: fadeIn 0.2s ease forwards;
}

.loader-logo-text {
    color: var(--color-white);
}

.loader-logo-dot-text {
    color: var(--color-red);
}

.loader-dot-expand {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    background: var(--color-red);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10000;
}

/* FADE IN LOGO */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* ESPANSIONE DOT */
.expand {
    animation: expandDot 1s ease forwards;
}

@keyframes expandDot {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(300);
    }
}

/* NASCONDERE CONTENUTO ALL'INIZIO */
body.loading {
    overflow: hidden;
}

body.loading .main-container,
body.loading #contacts-footer,
body.loading .credits {
    opacity: 0;
}

/* CONTENUTO DOPO */
body.loaded .main-container,
body.loaded #contacts-footer,
body.loaded .credits {
    opacity: 1;
    transition: opacity 0.2s ease;
}