<div class="footer-credits d-flex flex-column flex-md-row  justify-content-between align-items-center">
    <!-- LOGO -->
    <a href="/" class="nav-logo">
        <span class="poppins-extrabold logo-text">mario</span><span class="poppins-extrabold logo-dot">.</span><span
            class="poppins-extrabold logo-text">zaccardi</span>
    </a>

    <!-- SOCIALS -->
    <div class="socials-container">
        <ul class="socials d-flex gap-4 mt-4 mt-md-0">
            <!-- G-MAIL -->
            <li class="social-item" title="G-Mail">
                <a href="" class="social-link"><i class="bi bi-google"></i></a>
            </li>

            <!-- LINKEDIN -->
            <li class="social-item" title="Linkedin">
                <a href="" class="social-link"><i class="bi bi-linkedin"></i></a>
            </li>

            <!-- GITHUB-->
            <li class="social-item">
                <a href="" class="social-link" title="GitHub"><i class="bi bi-github"></i></a>
            </li>

            <!-- INSTAGRAM -->
            <li class="social-item">
                <a href="" class="social-link" title="Instagram"><i class="bi bi-instagram"></i></a>
            </li>
        </ul>
    </div>
</div>