<div class="container-title container-title-contacts d-flex justify-content-between align-items-center gap-4">
    <h1 class="container-name poppins-semibold">Contatti</h1>
    <div class="divider"></div>
</div>

<div class="contacts-container">
    <div class="contacts-summary">
        <p class="poppins-light">
            sarei curioso di sentire e realizzare il tuo prossimo progetto, amo mettermi in gioco.
            Raccontami la tua idea: Compila il form, al resto penso io.
        </p>
    </div>

    <form id="contacts-form" class="d-flex flex-column justify-content-start align-items-end gap-4">

        <!-- NOME -->
        <input type="text" placeholder="Nome" id="contacts-name" class="w-100 poppins-regular contacts-field">

        <!-- TELEFONO -->
        <input type="tel" placeholder="Telefono" id="contacts-telephone" class="w-100 poppins-regular contacts-field"
            pattern="^\+?\d{7,15}$">

        <!-- IDEA -->
        <textarea placeholder="La tua idea" id="contacts-idea" class="w-100 poppins-regular contacts-field"
            maxlength="300"></textarea>
        <p id="char-count" class="poppins-light">0 / 300</p>

        <button type="submit" name="contacts-btn-form" id="contacts-btn-form" class="btn-contacts mt-3 my-md-0">
            <span class="poppins-semibold btn-text">Parliamone!</span>
        </button>

    </form>
</div>

<!-- POPUP INOLTRO MAIL -->
<div id="mail-popup" class="mail-popup">
    <div class="mail-popup-content">
        <h2 class="poppins-extrabold">Apertura client mail in corso...</h2>
        <p class="poppins-regular">
            Sto preparando la tua mail… in attesa di avvio del client di posta elettronica.
        </p>

        <!-- SPINNER -->
        <div class="spinner"></div>
    </div>
</div>