<div class="container-title container-title-contacts d-flex justify-content-between align-items-center gap-4">
    <h1 class="container-name poppins-semibold">Contatti</h1>
    <div class="divider"></div>
</div>

<div class="contacts-container">
    <div class="contacts-summary">
        <p>
            sarei curioso di sentire e realizzare il tuo prossimo progetto, amo mettermi in gioco.
            Raccontami la tua idea: Compila il form, al resto penso io.
        </p>
    </div>

    <div class="contacts-form">

    </div>
</div>