<div class="container-title d-flex justify-content-between align-items-center gap-4">
    <h1 class="container-name poppins-semibold">Progetti</h1>
    <div class="divider"></div>
</div>

<div class="projects-container">
    <div class="project-item">
        <div class="project-img-wrapper"></div>
        <h2 class="project-name">Nome progetto</h2>
        <ul class="project-skills">
            <li class="skill-item">Java</li>
            <li class="skill-item">SQL</li>
            <li class="skill-item">TS</li>
            <li class="skill-item">Angular</li>
        </ul>
    </div>
</div>