.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    /* tablet */
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    /* mobile */
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.project-img-wrapper {
    width: 100%;
    max-width: 30rem;
    aspect-ratio: 3 / 2;
    background: var(--color-green-dark);
    margin-bottom: 2rem;
    border-radius: 16px;
    overflow: hidden;
}

.project-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-name {
    font-size: 24px;
    color: var(--color-white);
}

.project-skills {
    font-size: 18px;
    color: var(--color-white);
}

.project-img-wrapper .carousel,
.project-img-wrapper .carousel-inner,
.project-img-wrapper .carousel-item {
    height: 100%;
}

.carousel-inner {
    cursor: pointer;
}

.modal {
    overflow: hidden;
}

.modal-body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
        height: 100%;
        padding: 0;
        overflow: hidden;
    }
}

.modal-img {
    overflow: hidden;
    max-height: 85vh;
    object-fit: contain;

    @media (max-width: 576px) {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}

.modal-dialog.modal-fullscreen {
    @media (max-width: 576px) {
        height: 100dvh;
        margin: 0;
    }
}

.modal-content {
    @media (max-width: 576px) {
        height: 100%;
        overflow: hidden;
    }
}