<div class="container-title d-flex justify-content-between align-items-center gap-4">
    <h1 class="container-name poppins-semibold">Progetti</h1>
    <div class="divider"></div>
</div>

<div class="projects-container">
    <!-- RIEMPITO DINAMICAMENTE -->
</div>

<!-- DETTAGLIO DI UNA IMG DEI PROGETTI -->
<div class="modal fade" id="projectModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-dark">
            <div class="modal-header border-0">
                <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body d-flex align-items-center">
                <div id="modalCarousel" class="carousel slide w-100">
                    <div class="carousel-inner" id="modalCarouselInner"></div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#modalCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#modalCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>