<!-- PRESENTATION -->
<div class="presentation-container w-100 d-flex flex-column-reverse flex-md-row justify-content-between">
    <div class="presentation-summary-container d-flex flex-column justify-content-between align-items-start">
        <div class="presentation-description-container">
            <h1 class="presentation-title poppins-extrabold">Piacere, il mio nome &egrave; Mario</h1>
            <p class="presentation-description poppins-regular">
                Sono uno <strong>Sviluppatore Front-End</strong> italiano specializzato in <strong>UI/UX</strong> e
                <strong>soluzioni lato Client</strong>.
            </p>

            <p class="presentation-post-description poppins-regular">
                Curo l'intero ciclo dell'interfaccia, dallo studio del design alla realizzazione tecnica su misura.
            </p>
        </div>

        <button class="btn-contacts mt-3 my-md-0">
            <a href="#contacts" class="btn-text poppins-semibold">Contattami</a>
        </button>
    </div>

    <div class="img-container d-flex justify-content-between mx-auto">
        <div class="img-wrapper">
            <img src="../../assets/images/img-me.png" class="img-me" />
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- EXPERIENCES -->
<div class="experiences-container w-100" id="experiences-container">
    <!-- RIEMPITO DINAMICAMENTE -->
</div>