<!-- PRESENTATION -->
<div class="presentation-container w-100 d-flex flex-column-reverse flex-md-row justify-content-between">
    <div class="presentation-summary-container d-flex flex-column justify-content-between align-items-start">
        <div class="presentation-description-container">
            <h1 class="presentation-title poppins-extrabold">Piacere, il mio nome &egrave; Mario</h1>
            <p class="presentation-description poppins-regular">
                Sono uno <strong>Sviluppatore Front-End</strong> italiano specializzato in <strong>UI/UX</strong> e
                <strong>soluzioni lato Client</strong>.
            </p>

            <p class="presentation-post-description poppins-regular">
                Curo l'intero ciclo dell'interfaccia, dallo studio del design alla realizzazione tecnica su misura.
            </p>
        </div>

        <a href="#contacts" class="btn-contacts mt-3 my-md-0 text-center">
            <span class="btn-text poppins-semibold">
                Contattami
            </span>
        </a>
    </div>

    <div class="img-container d-flex justify-content-between mx-auto">
        <div class="img-wrapper">
            <img src="assets/images/img-me.png" class="img-me" />
        </div>
    </div>
</div>

<div class="divider"></div>

<!-- EDUCATION -->
<div class="education-container d-flex flex-column flex-md-row justify-content-between align-items-center">

    <div class="education-item w-100 text-left">
        <div class="education-img-wrapper">
            <img src="assets/images/education/unisa_logo.webp" class="education-img" />
        </div>
        <h2 class="education-name poppins-semibold">Universit&agrave; degli Studi di Salerno</h2>
        <p class="education-years poppins-light">Laurea in Informatica a.a. 2023 - 2024</p>
    </div>

    <div class="education-item w-100 text-left">
        <div class="education-img-wrapper">
            <img src="assets/images/education/iti_gc_falco.webp" class="education-img" />
        </div>
        <h2 class="education-name poppins-semibold">I.T.I. Giulio Cesare Falco</h2>
        <p class="education-years poppins-light">Diploma in Informatica e Telecomunicazioni a.a. 2019 - 2020</p>
    </div>

</div>

<!-- EXPERIENCES -->
<div class="experiences-container w-100" id="experiences-container">
    <!-- RIEMPITO DINAMICAMENTE -->
</div>